<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                let target = $($(element).attr('href'));
                if (target.length) {
                    $('div.body-inner').animate({
                        scrollTop: target.get(0).offsetTop,
                    });
                }
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% assign intro_page = site.pages | where: "url", "/" | first %}
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ intro_page.title | default: site.title | escape }}
                </a>
                {% if site.toc.enabled %}
                    {% if site.toc.enabled_index %}
                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                    {% endif %}
                {% endif %}
            </li>

            <li class="divider"></li>

            <li class="chapter" data-level="1.3">
                <a href="{{site.baseurl}}/pages/파이썬-기초문법/" onclick="pageScrollToTop(this)">파이썬 기초 문법</a>
                <ul class="articles">
                    <li class="chapter" data-level="1.3.1"><a href="{{site.baseurl}}/pages/파이썬-기초문법/built-in-functions/" onclick="pageScrollToTop(this)">파이썬 내장 함수 (Built-in Functions)</a></li>
                    <li class="chapter" data-level="1.3.2"><a href="{{site.baseurl}}/pages/파이썬-기초문법/class/" onclick="pageScrollToTop(this)">파이썬 클래스 (Class) - 심화편</a></li>
                    <li class="chapter" data-level="1.3.3"><a href="{{site.baseurl}}/pages/파이썬-기초문법/exception-handling/" onclick="pageScrollToTop(this)">파이썬 예외 처리 (Exception Handling)</a></li>
                    <li class="chapter" data-level="1.3.4"><a href="{{site.baseurl}}/pages/파이썬-기초문법/file-io/" onclick="pageScrollToTop(this)">파이썬 파일 입출력 (File I/O)</a></li>
                    <li class="chapter" data-level="1.3.5"><a href="{{site.baseurl}}/pages/파이썬-기초문법/libraries/" onclick="pageScrollToTop(this)">파이썬 라이브러리 (Library)</a></li>
                    <li class="chapter" data-level="1.3.6"><a href="{{site.baseurl}}/pages/파이썬-기초문법/module/" onclick="pageScrollToTop(this)">파이썬 모듈 (Module)</a></li>
                    <li class="chapter" data-level="1.3.7"><a href="{{site.baseurl}}/pages/파이썬-기초문법/package/" onclick="pageScrollToTop(this)">파이썬 패키지 (Package)</a></li>
                    <li class="chapter" data-level="1.3.8">
                        <a>제어 흐름</a>
                        <ul class="articles">
                            <li class="chapter" data-level="1.3.8.1"><a href="{{site.baseurl}}/pages/파이썬-기초문법/control-flow/conditional-statements/" onclick="pageScrollToTop(this)">파이썬 조건문 (Conditional Statements)</a></li>
                            <li class="chapter" data-level="1.3.8.2"><a href="{{site.baseurl}}/pages/파이썬-기초문법/control-flow/loops/" onclick="pageScrollToTop(this)">파이썬 반복문 (Loops)</a></li>
                        </ul>
                    </li>
                    <li class="chapter" data-level="1.3.9">
                        <a>자료형</a>
                        <ul class="articles">
                            <li class="chapter" data-level="1.3.9.1"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/boolean/" onclick="pageScrollToTop(this)">불 자료형 (Boolean)</a></li>
                            <li class="chapter" data-level="1.3.9.2"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/dictionary/" onclick="pageScrollToTop(this)">딕셔너리 (Dictionary)</a></li>
                            <li class="chapter" data-level="1.3.9.3"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/list/" onclick="pageScrollToTop(this)">리스트 (List)</a></li>
                            <li class="chapter" data-level="1.3.9.4"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/number/" onclick="pageScrollToTop(this)">숫자형 (Number)</a></li>
                            <li class="chapter" data-level="1.3.9.5"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/set/" onclick="pageScrollToTop(this)">집합 (Set)</a></li>
                            <li class="chapter" data-level="1.3.9.6"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/string/" onclick="pageScrollToTop(this)">문자열 (String)</a></li>
                            <li class="chapter" data-level="1.3.9.7"><a href="{{site.baseurl}}/pages/파이썬-기초문법/data-types/tuple/" onclick="pageScrollToTop(this)">튜플 (Tuple)</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            {% if site.ordered_collections %}
                {% for label in site.ordered_collections %}
                    {% assign collection = site.collections | where: "label", label | first %}
                    <!-- <p>{{ collection.label }}</p> -->
                    {% if collection.output %}
                        {% if collection.label == "posts" %}
                            {% assign reversed_posts = site[collection.label] | reverse %}
                        {% else %}
                            {% assign reversed_posts = site[collection.label] %}
                        {% endif %}

                        {% for post in reversed_posts %}
                            {% if post.path contains '_pages/파이썬 기초문법' %}{% continue %}{% endif %}
                            {% if page.url == post.url %}
                            <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                                <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                    {{ post.title | escape }}
                                </a>
                                {% if site.toc.enabled %}
                                    {% if page.url == post.url %}
                                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}

                        {% if reversed_posts.size > 0 %}
                            <li class="divider"></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for collection in site.collections %}
                    <!-- <p>{{ collection.label }}</p> -->
                    {% if collection.output %}
                        {% if collection.label == "posts" %}
                            {% assign reversed_posts = site[collection.label] | reverse %}
                        {% else %}
                            {% assign reversed_posts = site[collection.label] %}
                        {% endif %}

                        {% for post in reversed_posts %}
                            {% if post.path contains '_pages/파이썬 기초문법' %}{% continue %}{% endif %}
                            {% if page.url == post.url %}
                            <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                                <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                    {{ post.title | escape }}
                                </a>
                                {% if site.toc.enabled %}
                                    {% if page.url == post.url %}
                                        {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}

                        {% if reversed_posts.size > 0 %}
                            <li class="divider"></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</div>
